<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>MVC 1.0 - Das neue Webframework in Java EE 8</title>

    <meta name="description" content="MVC 1.0 - Das neue Webframework in Java EE 8">
    <meta name="author" content="Christian Kaltepoth">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">
    <link rel="stylesheet" href="custom/custom.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1>MVC 1.0</h1>
          <h2>Das neue Webframework<br/>in Java EE 8</h2>
          <p>
            <a href="http://blog.kaltepoth.de">Christian Kaltepoth</a> /
            <a href="http://twitter.com/chkal">@chkal</a>
          </p>
        </section>

        <section>
          <h2>Christian Kaltepoth</h2>
          <h2>Senior Developer @ ingenit</h2>
          <p>
            <a href="mailto:christian@kaltepoth.de">christian@kaltepoth.de</a> / <a href="https://twitter.com/chkal">@chkal</a>
          </p>
          <p>
            <a href="http://blog.kaltepoth.de">http://blog.kaltepoth.de</a>
          </p>
          <aside class="notes">
            <ul>
              <li>JSR371 Expert Group</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>Warum</h1>
          <h1>MVC 1.0?</h1>
          <aside class="notes">
            <ul>
              <li>Neues in EE8</li>
              <li>Warum etwas neues?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Java EE 8 Community Survey</h2>
          <img src="images/community_survey_no_header.png" alt="img" height="500"/>
          <!--
          <img src="images/community_survey_single.png" alt="img" width="900" />
          -->
          <div class="reference-center">
            <a href="https://java.net/downloads/javaee-spec/JavaEE8_Community_Survey_Results.pdf">
              https://java.net/downloads/javaee-spec/JavaEE8_Community_Survey_Results.pdf
            </a>
          </div>
          <aside class="notes">
            <ul>
              <li>Anfang 2014?</li>
              <li>4500 Teilnehmer</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>JavaServer Faces</h1>
          <h1>vs.</h1>
          <h1>MVC 1.0</h1>
          <aside class="notes">
            <ul>
              <li>Wiederspruch?</li>
              <li>JSF auch MVC</li>
              <li>Unterschiedliche Ansätze</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>Component Oriented</h1>
          <h1>vs.</h1>
          <h1>Action Oriented</h1>
          <aside class="notes">
            <ul>
              <li>Es gibt auch mehr...</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>JavaServer Faces</h1>
          <h1>=</h1>
          <h1>Component Oriented</h1>
          <aside class="notes" data-markdown>
            <script type="text/template">
              * Wicket, GWT, Vaadin, ...
              * M=CDI, V=Facelets, C=JSF
              * Idee:
                * Wiederverw. Komponenten
                * JSF -> Details (Req/Resp)
              * Pro/Con
                * (+) Rapid Development
                * (+) Versteckt tech Details
                * (-) Weniger Kontrolle
                * (-) Integration problematisch
            </script>
          </aside>
        </section>

        <section>
          <h1>MVC 1.0</h1>
          <h1>=</h1>
          <h1>Action Oriented</h1>
          <aside class="notes" data-markdown>
            <script type="text/template">
              * Struts, Spring MVC, Grails, Spark, Rails/Express...
              * Idee:
                * Request/Response im Fokus
              * Pro/Con
                * Volle Kontrolle
                  * (HTTP / HTML/CSS)
                * Weniger Komfort
                  * Beispiel JSF Resources
            </script>
          </aside>
        </section>

        <section>
          <h1>Das MVC</h1>
          <h1>Entwurfsmuster</h1>
        </section>

        <section>
          <img src="images/mvc1.png" alt="img" height="600"/>
        </section>
        <section>
          <img src="images/mvc2.png" alt="img" height="600"/>
        </section>
        <section>
          <img src="images/mvc3.png" alt="img" height="600"/>
        </section>
        <section>
          <img src="images/mvc4.png" alt="img" height="600"/>
        </section>
        <section>
          <img src="images/mvc5.png" alt="img" height="600"/>
        </section>
        <section>
          <img src="images/mvc.png" alt="img" height="600"/>
        </section>

        <section>
          <h1>MVC 1.0</h1>
          <h1 class="fragment" style="color: red; font-size: 300%;">&#9829;</h1>
          <h1>Java EE 8</h1>
        </section>

        <section>
          <h2>MVC im Kontext</h2>
          <img src="images/dependencies.png" alt="img" height="400"/>
        </section>

        <section>
          <h1>JAX-RS</h1>
          <h2 class="fragment">(in &lt; 3 Minuten)</h2>
        </section>

        <section>
          <h1>JAX-RS Fakten</h1>
          <ul>
            <li class="fragment">"Java API for RESTful Web Services"</li>
            <li class="fragment">Erstes Release 2008</li>
            <li class="fragment">Seit 1.1 Bestandteil von Java EE 6</li>
            <li class="fragment">JSR 2.1 -> JSR 370 -> Java EE 8</li>
          </ul>
        </section>

        <section>
          <h2>JAX-RS Beispiel</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Path("/hello")
public class HelloResource {

  @GET
  public String greet() {
    return "Hello world";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>JAX-RS Beispiel</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Path("/hello")
public class HelloResource {

  @GET
  @Path("/{name}")
  public String greet( @PathParam("name") String name ) {
    return "Hello " + name;
  }

}
          </code></pre>
        </section>

        <section>
          <h1>Hello World</h1>
          <h2>mit</h2>
          <h1>MVC 1.0</h1>
        </section>

        <section>
          <h2>Controller</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/hello")
public class HelloController {

  @GET
  public String render() {
    return "helloworld.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>Controller</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/hello")
public class HelloController {

  @GET
  @View("helloworld.jsp")
  public void render() {
    // ...
  }

}
          </code></pre>
        </section>

        <section>
          <h2>View</h2>
          <h4 style="color: gray;"><tt>/WEB-INF/views/helloworld.jsp</tt></h4>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>Hello world&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h1>Das Model</h1>
        </section>

        <section>
          <h2>javax.mvc.Models</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/hello")
public class HelloController {

  @Inject
  private Models models;

  @GET
  public String greet() {
    models.put( "message", "Hello world!" );
    return "helloworld.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>javax.mvc.Models</h2>
          <h4 style="color: gray;"><tt>/WEB-INF/views/helloworld.jsp</tt></h4>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>${message}&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h2>CDI Models</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Named
@RequestScoped
public class Greeting {

  private String text;

  public String getText() {
    return text;
  }

  public void setText( String text ) {
    this.text = text;
  }

}
          </code></pre>
        </section>

        <section>
          <h2>CDI Models</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/hello")
public class HelloController {

  @Inject
  private Greeting greeting;

  @GET
  public String greet() {
    greeting.setText( "Hello world!" );
    return "helloworld.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>CDI Models</h2>
          <h4 style="color: gray;"><tt>/WEB-INF/views/helloworld.jsp</tt></h4>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>${greeting.text}&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h1>Formulare</h1>
        </section>

        <section>
          <h2>Einfache Forms</h2>
          <h4 style="color: gray;"><tt>/WEB-INF/views/form.jsp</tt></h4>
          <pre style="width: 100%; font-size: 0.75em;"><code class="html" data-trim>
&lt;form action="${mvc.basePath}/form" method="POST">

  Bitte geben Sie Ihren Namen ein:
  &lt;input type="text" name="name"/>

  &lt;input type="submit" value="Absenden"/>

&lt;/form>
          </code></pre>
        </section>

        <section>
          <h2>Einfache Forms</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/form")
public class FormController {

  @Inject
  private Models models;

  @POST
  public String post( @FormParam("name") String name ) {

    models.put( "message", "Hello " + name );
    return "form.jsp";

  }

}
          </code></pre>
        </section>

        <section>
          <h2>Komplexe Forms</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
public class HelloForm {

  @FormParam("name")
  private String name;

  @FormParam("age")
  private Integer age;

  @FormParam("address")
  private String address;

  /* getter + setter */

}
          </code></pre>
        </section>

        <section>
          <h2>Komplexe Forms</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/form")
public class FormController {

  @Inject
  private Models models;

  @POST
  public String post( @BeanParam HelloForm form ) {

    models.put( "message", "Hello " + form.getName() );
    return "form.jsp";

  }

}
          </code></pre>
        </section>

        <section>
          <h1>Validation</h1>
        </section>

        <section>
          <h1>JSR 303</h1>
          <h1>Bean Validation</h1>
        </section>

        <section>
          <h2>Validierung</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
public class HelloForm {

  @FormParam("name")
  @Size(min = 3, message = "Geben Sie Ihren Namen ein")
  private String name;

  @FormParam("age")
  @NotNull(message = "Geben Sie Ihr Alter ein")
  @Min(value = 18, message = "Sie müssen 18 Jahre sein")
  private Integer age;

  /* getter + setter */

}
          </code></pre>
        </section>

        <section>
          <h2>Validierung</h2>
          <pre style="width: 100%; font-size: 0.65em;"><code class="java" data-trim>
@POST
public String post( @BeanParam @Valid HelloForm form ) {

  if( bindingResult.isFailed() ) {
    models.put( "messages", bindingResult.getAllMessages() );
    return "validation.jsp";
  }

  // process the form here

  models.put( "messages",
      Arrays.asList( "Validierung erfolgreich." ) );
  return "form.jsp";

}
          </code></pre>
        </section>

        <section>
          <h2>Validierung</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
&lt;!DOCTYPE html>
&lt;html>
  &lt;body>

    &lt;c:if test="${not empty messages}">
      &lt;ul>
        &lt;c:forEach var="message" items="${messages}">
          &lt;li>${message}&lt;/li>
        &lt;/c:forEach>
      &lt;/ul>
    &lt;/c:if>

    &lt;!-- ... -->

  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h1>Views</h1>
        </section>

        <section>
          <h1>MVC 1.0</h1>
          <ul style="font-size: 180%;">
            <li>JSP</li>
            <li>Facelets</li>
          </ul>
        </section>

        <section>
          <h1>RI Addons</h1>
          <table style="font-size: 120%;">
            <tr>
              <td>
                <ul>
                  <li>Thymeleaf</li>
                  <li>FreeMarker</li>
                  <li>Velocity</li>
                  <li>Handlebars</li>
                  <li>Mustache</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>StringTemplate</li>
                  <li>Jade</li>
                  <li>AsciiDoc</li>
                  <li>JSR223</li>
                </ul>
              </td>
            </tr>
          </table>
        </section>

        <section>
          <h1><u>Beispiel:</u></h1>
          <h1>Thymeleaf</h1>
        </section>

        <section>
          <h2>Thymeleaf</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="java" data-trim>
@Controller
@Path("/thymeleaf")
public class ThymeleafController {

  @Inject
  private Models models;

  @GET
  public String render() {

    models.put( "messages", Arrays.asList(
      "Text #1", "Text #2", "Text #3"
    ) );

    return "thymeleaf.html";

  }

}
          </code></pre>
        </section>

        <section>
          <h2>Thymeleaf</h2>
          <h4 style="color: gray;"><tt>/WEB-INF/views/thymeleaf.html</tt></h4>
          <table>
            <tr>
              <td>
                <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
<!-- ... -->

&lt;table>
  &lt;tr th:each="msg: ${messages}">
    &lt;td th:text="${msg}">
      Some text
    &lt;/td>
  &lt;/tr>
&lt;/table>

<!-- ... -->

                </code></pre>
              </td>
              <td>
                <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;table>
  &lt;tr>
    &lt;td>Text #1&lt;/td>
  &lt;/tr>
  &lt;tr>
    &lt;td>Text #2&lt;/td>
  &lt;/tr>
  &lt;tr>
    &lt;td>Text #3&lt;/td>
  &lt;/tr>
&lt;/table>
                </code></pre>
              </td>
            </tr>
          </table>

        </section>

        <section>
          <h1>Security</h1>
        </section>

        <section>
          <h1>CSRF</h1>
          <h2>Cross Site Request Forgery</h2>
        </section>

        <section>
          <h2>CSRF Beispiel</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="html" data-trim>
&lt;form action="/myapp/tweet" method="POST">

  Bitte geben Sie einen Text ein:
  &lt;input type="text" name="status"/>

  &lt;input type="submit" value="Absenden"/>

&lt;/form>
          </code></pre>
        </section>

        <section>
          <h2>CSRF Beispiel</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="html" data-trim>
&lt;form id="form" style="display: none;" method="POST"
      action="http://www.example.com/myapp/tweet">
  &lt;input type="hidden" name="status"
         value="PHP ist die beste Sprache der Welt!"/>
&lt;/form>

&lt;a href="javascript:void(0)"
   onclick="document.getElementById('form').submit();">
  Gratis iPhone
&lt;/a>
          </code></pre>
        </section>

        <section>
          <h1>Page Token Pattern</h1>
          <ul style="font-size: 140%;">
            <li class="fragment">Server erstellt geheimes Token</li>
            <li class="fragment">Token wird in Hidden-Field gerendert</li>
            <li class="fragment">Prüfung des Token bei Submit</li>
          </ul>
        </section>

        <section>
          <h1>MVC 1.0 CSRF Modes</h1>

          <table>
            <tr class="fragment">
              <td>
                <strong>OFF</strong>
              </td>
              <td>
                Kein Prüfung (Default)
              </td>
            </tr>
            <tr class="fragment">
              <td>
                <strong>EXPLICIT</strong>
              </td>
              <td>
                Prüfung des Tokens mit @CsrfValid
              </td>
            </tr>
            <tr class="fragment">
              <td>
                <strong>IMPLICIT</strong>
              </td>
              <td>
                Prüfung bei jedem POST-Request
              </td>
            </tr>
          </table>
        </section>

        <section>
          <h2>CSRF Beispiel</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="html" data-trim>
&lt;form action="${mvc.basePath}/tweet" method="POST">

  &lt;input type="hidden" name="${mvc.csrf.name}"
      value="${mvc.csrf.token}"/>

  Bitte geben Sie einen Text ein:
  &lt;input type="text" name="status"/>

  &lt;input type="submit" value="Absenden"/>

&lt;/form>
          </code></pre>
        </section>

        <section>
          <h2>Prüfung mit @CsrfValid</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/tweet")
public class TweetController {

  /* ... */

  @POST
  @CsrfValid
  public String post( @FormParam("status") String s ) {

    /* ... */

  }

}
          </code></pre>
        </section>

        <section>
          <h1>Empfehlung</h1>
          <h2 class="fragment">IMPLICIT verwenden!</h2>
        </section>

        <section>
          <h1>MVC kann mehr...</h1>
          <ul style="font-size: 140%;">
            <li class="fragment">Einfache Redirects aus Controller</li>
            <li class="fragment">CDI Scope: @RedirectScoped</li>
            <li class="fragment">MvcContext / #{mvc}</li>
            <li class="fragment">CDI Events</li>
            <li class="fragment">ViewEngine SPI</li>
            <li class="fragment">HTML/JS Encoding/Escaping</li>
          </ul>
        </section>

        <section>
          <h1>Vollständiges Beispiel</h1>
          <a href="https://github.com/chkal/todo-mvc/" style="font-size: 160%;">
            https://github.com/chkal/todo-mvc/
          </a>
        </section>

        <section>
          <h1>MVC 1.0 TODO</h1>
          <ul style="font-size: 140%;">
            <li class="fragment">Internationalisierung / Lokalisierung</li>
            <li class="fragment">Typsicheres Erstellen von URLs</li>
            <li class="fragment">...</li>
          </ul>
        </section>

        <section>
          <h1>Zeitplan</h1>
          <ul>
            <li class="fragment highlight-green">Q3 2014 Expert Group formed</li>
            <li class="fragment highlight-green">Q1 2015 Early Draft</li>
            <li class="fragment highlight-green">Q4 2015 Early Draft 2</li>
            <li class="fragment highlight-blue">Q1 2016 Public Review</li>
            <li class="fragment highlight-blue">Q3 2016 Proposed Final Draft</li>
            <li class="fragment highlight-blue">H1 2017 Final Release</li>
          </ul>
        </section>

        <section>
          <h1>Feedback erwünscht</h1>
          <table style="font-size: 100%;">
            <tr>
              <td>Mailinglist</td>
              <td>
                <a href="https://java.net/projects/mvc-spec/lists">
                  https://java.net/projects/mvc-spec/lists
                </a>
              </td>
            </tr>
            <tr>
              <td>JIRA</td>
              <td>
                <a href="http://java.net/jira/browse/MVC_SPEC">
                  http://java.net/jira/browse/MVC_SPEC
                </a>
              </td>
            </tr>
            <tr>
              <td>Ozark (RI)</td>
              <td>
                <a href="https://ozark.java.net/">
                  https://ozark.java.net/
                </a>
              </td>
            </tr>
          </table>
        </section>

        <section>
          <h1>Danke!</h1>
          <h2>Fragen?</h2>
          <div class="mono" style="margin-top: 10%;">
            <a href="https://github.com/chkal/wjax15-mvc">
              https://github.com/chkal/wjax15-mvc
            </a>
          </div>
          <div style="margin-top: 5%;">
            <a href="http://blog.kaltepoth.de/">Christian Kaltepoth</a> /
            <a href="http://twitter.com/chkal">@chkal</a>
          </div>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        overview: false,
        slideNumber: true,

        margin: 0.05,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
