<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>MVC 1.0 - Das neue Webframework in Java EE 8</title>

    <meta name="description" content="MVC 1.0 - Das neue Webframework in Java EE 8">
    <meta name="author" content="Christian Kaltepoth">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">
    <link rel="stylesheet" href="custom/custom.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1>MVC 1.0</h1>
          <h2>Das neue Webframework<br/>in Java EE 8</h2>
          <p>
            <small>
              Created by <a href="http://blog.kaltepoth.de">Christian Kaltepoth</a> /
              <a href="http://twitter.com/chkal">@chkal</a>
            </small>
          </p>
        </section>

        <section>
          <h2>Christian Kaltepoth</h2>
          <h2>Senior Developer @ ingenit</h2>
          <p>
            <a href="mailto:christian@kaltepoth.de">christian@kaltepoth.de</a> / <a href="https://twitter.com/chkal">@chkal</a>
          </p>
          <p>
            <a href="http://blog.kaltepoth.de">http://blog.kaltepoth.de</a>
          </p>
          <aside class="notes">
            <ul>
              <li>JSR371 Expert Group</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>MVC 1.0</h1>
          <aside class="notes">
            <ul>
              <li>Neues in EE8</li>
              <li>Warum etwas neues?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Java EE 8 Community Survey</h2>
          <img src="images/community_survey_no_header.png" alt="img" height="500"/>
          <!--
          <img src="images/community_survey_single.png" alt="img" width="900" />
          -->
          <div class="reference-center">
            <a href="https://java.net/downloads/javaee-spec/JavaEE8_Community_Survey_Results.pdf">
              https://java.net/downloads/javaee-spec/JavaEE8_Community_Survey_Results.pdf
            </a>
          </div>
          <aside class="notes">
            <ul>
              <li>Anfang 2014?</li>
              <li>4500 Teilnehmer</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>Warum etwas Neues?</h1>

          <h1>Es gibt doch JSF!</h1>
        </section>

        <section>
          <h1>Component Oriented</h1>

          <h1>vs.</h1>

          <h1>Action Oriented</h1>
        </section>

        <section>
          <h1>JavaServer Faces</h1>

          <h1>=</h1>

          <h1>Component Oriented</h1>
        </section>

        <section>
          <h1>MVC 1.0</h1>

          <h1>=</h1>

          <h1>Action Oriented</h1>
        </section>

        <section>
          <h1>Zeitplan</h1>
          <ul>
            <li>Q3 2014 Expert Group formed</li>
            <li>Q1 2015 Early Draft</li>
            <li>Q4 2015 Early Draft 2</li>
            <li>Q1 2016 Public Review</li>
            <li>Q3 2016 Proposed Final Draft</li>
            <li>H1 2017 Final Release</li>
          </ul>
        </section>

        <section>
          <h2>Was ist MVC?</h2>
          <img src="images/mvc.png" alt="img" height="500"/>
        </section>

        <section>
          <h2>TODO: Schaubild JAX-RS, BV, CDI, etc</h2>
        </section>

        <section>
          <h1>JAX-RS</h1>
        </section>

        <section>
          <h1>JAX-RS Fakten</h1>
          <ul>
            <li>"Java API for RESTful Web Services"</li>
            <li>Erstes Release 2008</li>
            <li>Seit 1.1 Bestandteil von Java EE 6</li>
            <li>JSR 2.1 -> JSR 370 -> Java EE 8</li>
          </ul>
        </section>

        <section>
          <h2>JAX-RS Beispiel (1/2)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Path("/hello")
public class SimpleResource {

  @GET
  public String greet() {
    return "Hello world";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>JAX-RS Beispiel (2/2)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Path("/hello")
public class SimpleResource {

  @GET
  @Path("/{name}")
  public String greet( @PathParam("name") String name ) {
    return "Hello " + name;
  }

}
          </code></pre>
        </section>

        <section>
          <h1>Und MVC?</h1>
        </section>

        <section>
          <h2>Controller (1/3)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/simple")
public class SimpleController {

  @GET
  public String render() {
    return "simple.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>Controller (2/3)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/simple")
public class SimpleController {

  @GET
  @View("simple.jsp")
  public void render() {

  }

}
          </code></pre>
        </section>

        <section>
          <h2>Controller (3/3)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>Hello world&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h1>The Model</h1>
          <h2>aka</h2>
          <h3>"Wie kommen die Daten in die View"</h3>
        </section>

        <section>
          <h2>Die Klasse Models (1/2)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="java" data-trim>
@Controller
@Path("/models")
public class ModelsController {

  @Inject
  private Models models;

  @GET
  public String greet() {
    models.put( "message", "Hello world!" );
    return "models.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>Die Klasse Models (2/2)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>${message}&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h2>CDI's @Named (1/3)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Named
@RequestScoped
public class Greeting {

  private String text;

  public String getText() {
    return text;
  }

  public void setText( String text ) {
    this.text = text;
  }

}
          </code></pre>
        </section>

        <section>
          <h2>CDI's @Named (2/3)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/named")
public class NamedController {

  @Inject
  private Greeting greeting;

  @GET
  public String greet() {
    greeting.setText( "Hello world!" );
    return "named.jsp";
  }

}
          </code></pre>
        </section>

        <section>
          <h2>CDI's @Named (3/3)</h2>
          <pre style="width: 100%; font-size: 0.8em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>MVC Demo&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>${greeting.text}&lt;/h1>
  &lt;/body>
&lt;/html>
          </code></pre>
        </section>


        <section>
          <h1>Forms</h1>
          <h2>aka</h2>
          <h3>"Verarbeiten von Benutzerdaten"</h3>
        </section>

        <section>
          <h2>Einfache Forms (1/2)</h2>
          <pre style="width: 100%; font-size: 0.75em;"><code class="html" data-trim>
&lt;form action="${mvc.basePath}/form" method="POST">

  Bitte geben Sie Ihren Namen ein:
  &lt;input type="text" name="name"/>

  &lt;input type="submit" value="Absenden"/>

&lt;/form>
          </code></pre>
        </section>

        <section>
          <h2>Einfache Forms (1/2)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/form")
public class FormController {

  @Inject
  private Models models;

  @POST
  public String post( @FormParam("name") String name ) {

    models.put( "message", "Hello " + name );
    return "form.jsp";

  }

}
          </code></pre>
        </section>

        <section>
          <h2>Große Forms (1/2)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
public class HelloForm {

  @FormParam("name")
  private String name;

  public String getName() {
    return name;
  }

  public void setName( String name ) {
    this.name = name;
  }

}
          </code></pre>
        </section>

        <section>
          <h2>Große Forms (1/2)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
@Controller
@Path("/form")
public class FormController {

  @Inject
  private Models models;

  @POST
  public String post( @BeanParam HelloForm form ) {

    models.put( "message", "Hello " + form.getName() );
    return "form.jsp";

  }

}
          </code></pre>
        </section>

        <section>
          <h1>Validation</h1>
          <h2>aka</h2>
          <h3>"..."</h3>
        </section>

        <section>
          <h1>JSR 303</h1>
          <h1>Bean Validation</h1>
        </section>

        <section>
          <h2>Validierung (1/3)</h2>
          <pre style="width: 100%; font-size: 0.7em;"><code class="java" data-trim>
public class ValidationForm {

  @FormParam("name")
  @Size(min = 3, message = "Geben Sie Ihren Namen ein")
  private String name;

  @FormParam("age")
  @NotNull(message = "Geben Sie Ihr Alter ein")
  @Min(value = 18, message = "Sie müssen 18 Jahre sein")
  private Integer age;

  /* ... */

}
          </code></pre>
        </section>

        <section>
          <h2>Validierung (2/3)</h2>
          <pre style="width: 100%; font-size: 0.65em;"><code class="java" data-trim>
@POST
public String post( @BeanParam @Valid ValidationForm form ) {

  if( bindingResult.isFailed() ) {
    models.put( "messages", bindingResult.getAllMessages() );
    return "validation.jsp";
  }

  // process the form here

  models.put( "messages",
      Arrays.asList( "Validierung erfolgreich." ) );
  return "validation.jsp";

}
          </code></pre>
        </section>

        <section>
          <h2>Validierung (3/3)</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
&lt;!DOCTYPE html>
&lt;html>
  &lt;body>

    &lt;c:if test="${not empty messages}">
      &lt;ul>
        &lt;c:forEach var="message" items="${messages}">
          &lt;li>${message}&lt;/li>
        &lt;/c:forEach>
      &lt;/ul>
    &lt;/c:if>

    &lt;!-- ... -->

  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h1>Views</h1>
          <h2>aka</h2>
          <h3>"Wie definiere ich HTML?"</h3>
        </section>

        <section>
          <h1>MVC 1.0</h1>
          <ul style="font-size: 180%;">
            <li>JSP</li>
            <li>Facelets</li>
          </ul>
        </section>

        <section>
          <h1>Ozark</h1>
          <table style="font-size: 120%;">
            <tr>
              <td>
                <ul>
                  <li>Thymeleaf</li>
                  <li>FreeMarker</li>
                  <li>Velocity</li>
                  <li>Handlebars</li>
                  <li>Mustache</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>StringTemplate</li>
                  <li>Jade</li>
                  <li>AsciiDoc</li>
                  <li>JSR223</li>
                </ul>
              </td>
            </tr>
          </table>
        </section>

        <section>
          <h1><u>Beispiel:</u></h1>
          <h1>Thymeleaf</h1>
        </section>

        <section>
          <h2>Thymeleaf (1/3)</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="java" data-trim>
@Controller
@Path("/thymeleaf")
public class ThymeleafController {

  @Inject
  private Models models;

  @GET
  public String render() {

    models.put( "messages", Arrays.asList(
      "Text #1", "Text #2", "Text #3"
    ) );

    return "thymeleaf.html";

  }

}
          </code></pre>
        </section>
<!--
        <section>
          <h2>Thymeleaf (2/3)</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  ...
  &lt;body>

    &lt;table>
      &lt;tr th:each="message: ${messages}">
        &lt;td th:text="${message}">
          Some text
        &lt;/td>
      &lt;/tr>
    &lt;/table>

  &lt;/body>
&lt;/html>
          </code></pre>
        </section>

        <section>
          <h2>Thymeleaf (3/3)</h2>
          <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;!DOCTYPE html>
&lt;html>
  ...
  &lt;body>

    &lt;table>
      &lt;tr>
        &lt;td>Text #1&lt;/td>
      &lt;/tr>
      &lt;tr>
        &lt;td>Text #2&lt;/td>
      &lt;/tr>
      &lt;tr>
        &lt;td>Text #3&lt;/td>
      &lt;/tr>
    &lt;/table>

  &lt;/body>
&lt;/html>
          </code></pre>
        </section>
-->
        <section>
          <h2>Thymeleaf (2/2)</h2>
          <table>
            <tr>
              <td>
                <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trimx>

&lt;table>
  &lt;tr th:each="msg: ${messages}">
    &lt;td th:text="${msg}">
      Some text
    &lt;/td>
  &lt;/tr>
&lt;/table>

                </code></pre>
              </td>
              <td>
                <pre style="width: 100%; font-size: 0.6em;"><code class="html" data-trim>
&lt;table>
  &lt;tr>
    &lt;td>Text #1&lt;/td>
  &lt;/tr>
  &lt;tr>
    &lt;td>Text #2&lt;/td>
  &lt;/tr>
  &lt;tr>
    &lt;td>Text #3&lt;/td>
  &lt;/tr>
&lt;/table>
                </code></pre>
              </td>
            </tr>
          </table>

        </section>

        <section>
          <h1>Danke!</h1>
          <h2>Fragen?</h2>
          <div class="mono" style="margin-top: 10%;">
            <a href="https://github.com/chkal/wjax15-mvc">
              https://github.com/chkal/wjax15-mvc
            </a>
          </div>
          <div style="margin-top: 5%;">
            <a href="http://blog.kaltepoth.de/">Christian Kaltepoth</a> /
            <a href="http://twitter.com/chkal">@chkal</a>
          </div>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        overview: false,
        slideNumber: true,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
